<body>
  <div class="leaderconstrain">


  <h1>About</h1>
  <p>Tetris Buddies was created by Jesse Nicholas in association with J Nicks Productions.
  He is me. I am him. You can tweet both of us @JNicksLive. But only nice things.</p>
  <br>
  <p>If you find some bugs, or have ideas on how to improve Tetris Buddies, you can also
  send them here.</p>
  <form class="" action="/about" method="post">
    <textarea name="feedback" rows="8" cols="80"></textarea>
    <button type="submit" name="button">Send Feedback</button>

  </form>
  <p>{{sentmess}}</p>
  <br>
  <h3>Disclaimer</h3>
  <p><small>J Nicks Productions has no association with either Tetris Holding LLC or
  any of its affiliates. J Nicks Productions has also not at this time received any notice
from Tetris Holding alleging unlawful use of IP. J Nicks Productions welcomes any legal challenge by
Tetris Holding, and any consequent reference to Tetris Holding as 'Tetris Scolding' should be taken
as lawful parody.</small>  </p>

</div>


</body>
