<body>
  <div class="leaderconstrain">
    <h1>Da Rules</h1>
    <h3>The Tetris Part</h3>
    <p>You know tetris. The blocks fall and stack on top of each other. Rotate
      and shift them before they set to try to complete rows. When a row is completed,
      the blocks therein clear, and all higher rows shift down accordingly. I maybe
      could have explained that better, but if you don't know the rules of basic (single-player) tetris,
      this isn't the game to start with.
    </p>
    <br>
    <p>
      Now for you tetris enthusiasts out there, here are some metagame details:
    </p>
    <br>
    <ul class='rulelist'>
      <li>You get one lookahead. ONE. That piece in the top right corner? That's your next piece. Enjoy</li>
      <li>You can't save pieces. So find somewhere to put it, bud! </li>
      <li>You don't get extra points for clearing multiple lines, or for T spins or anything. I'm not going
        to coddle you. You know what, no points at all. It's all lines.</li>
        <li>My one concession is using the 'shuffled bag' system. The 7 piece types
        are shuffled randomly and dealt out one at a time to guarantee a more even distribution.  </li>
    </ul>
    <br>
    <p>Now, here are the controls:</p>
    <br>
    <ul>
      <li><strong>LEFT ARROW</strong> - Left</li>
      <li><strong>RIGHT ARROW</strong> - Right</li>
      <li><strong>UP ARROW</strong> - Rotate</li>
      <li><strong>DOWN ARROW</strong> - Soft drop</li>
      <li><strong>SPACEBAR</strong> - Autodrop</li>
    </ul>
    <br>

    <h3>The Buddies Part</h3>

    <p>Those are the controls. In theory. Every piece, the
    three 'basic' controls (left, right, rotate) are assigned randomly
  to members of your team. You have to work TOGETHER to manipulate the piece
the way you want. </p>
<br>
<p>Multiple players might have the same available controls. Certain players may
have no available controls, or all three, etc. The only guarantee is that <strong>each control
will be available to at least one person on the team.</strong></p>
<br>
<p><strong>If you try to use a control that you don't have, the piece auto-drops. </strong> </p>
<br>
<h3>The Fun Part</h3>
<p>Let's kick it up a notch.</p>
<p>There are three game modes you can pick. </p>
<ul>
  <li><i>Classic Mode:</i> Everyone can see everyone's controls. Boo.</li>
  <li><i>Self View:</i> Each player can see only their own controls.</li>
  <li><i>Buddy View:</i> Each player can see everyone's controls besides their own.</li>
</ul>
<br>
<p>Anyway, that's how everything <i>should</i> work. Tetris Buddies is still
very much in beta, so if you find some bus, let me know in the feedback section.</p>



  </div>

</body>
