
<body>
  <div class="title-holder">
  <div class="">
    <h1 >Tetris Buddies</h1>

  </div>


</div>
<div class="title-holder">
  <h2 >A co-op Tetris game of asymmentrical information.</h2>

</div>
<div class="title-holder">
  <h2 >Not currently spelled with a Z.</h2>

</div>
<div class="constrain">
  <form class="" action="/create">
    <input class='roominput' type="submit" name="" value="Create a Game">

  </form>
  <form class="" action="/join">
    <input class='roominput' type="submit" name="" value="Join a Game">

  </form>


</div>
</body>
