ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em
}

li a:hover {
  background-color: #222;
}
.btn {
  background: none;
  height: 100%;
  /* border: 2px solid #1f9751;
  padding: 6px 12px;
  border-radius: 4px; */
  color: #1f9751;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
.btn:hover {
  background: #1f9751;
  color: #fff;
}
/* navbar */
.navbar {
  width: 100%;
  background: #444;
  /* padding: 20px 10px; */
  box-sizing: border-box;
  margin-bottom: 15px;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
}
body{
  background-color: #fff;
  font-family: Poppins, sans-serif;

}
h1{

margin: 0;
font-size: 3.1em;


}
.title-holder{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.titlecard{
  width: 400px;
}
/* PLAYER TAGS */
.playertag{
  background-color: #fff;
  height:90px;
  padding: 5px;
  border: 1px solid;
}
.control{
  float: left;
  width: 33%;
  text-align: center;
  visibility: hidden;
  font-size: 24px;
}
.controlmask{
  float: left;
  width: 33%;
  text-align: center;

  font-size: 24px;
}
.playercontrols{
  display: none;
}
.playercontrolmask{
  display: none
}
.playername{
  text-align: center;
  font-size: 24px;
}

#nameholder{
  width: 100%
}
#leftpanel{
  width: 200px;
  height: 100%;
}
#rightpanel{
  height: 100%
}


#fullgame{
  display: flex;
  width: 80%;
  height: 540px;
  align-content: space-around;
}
.topbar{

  display: flex;
  width: 680px;
  justify-content: space-between;



}
#teamnameholder{

  padding: 5px;


  font-size: 18px;
}
#roomcode{

  padding: 5px;


  font-size: 18px;
}

.statbox {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid;
}
#canvasholder{
  position: relative;
  width: 300px;
  height: 100%;
  border: 1px solid;
}
#canvas{
  display: none;

  background: repeating-linear-gradient(
  45deg,
  #ddd,
  #ddd 3px,
  #eee 6px,
  #eee 6px
);
}
.centerlayer{
  width: 300px;
  height: 100%;



  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#waitcard{
  display: none;
}
#gameover{

  height: 250px;
  background-color: #fff;
  position: absolute;
  border: 3px solid;
  top:100px;
  display: none;

}
#cantsubmit{
  display: none;
}
.centerbutton{
  width: 250px;
  font-size: 22px;
}
#optionsholder{
  display: none;

}
.modeholder {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 90%;
  /* border: 1px dashed; */
}
.modeholder h4{
  text-align: center;
  font-size: 26px;
  margin: 5px;
}

.modename{
  display: none;
  font-size: 22px;
  font-weight: 100;
  font-style: italic;
}
.jumprulesholder, .moderulesholder{
  display: block;
  height: 80px;
}
.moderules{
  display: none;
}

.modenameholder{
  display: block;
  /* width: 100%; */


  text-align: center;
}
.namefit{
  display: inline-block;
  width: 60%;
  text-align: center;

}
.modeswitch, .togglejump{
  display:inline-block;
  font-size: 20px;
  background-color: inherit;
  border: none;
}
.togglejump:hover{
  cursor:pointer;
}
.modeswitch:hover{
  cursor: pointer;
}
.jumprules{
  display: none;
}
.jumptype{
  display: none;
  font-size: 22px;
  font-weight: 100;
  font-style: italic;
}
#hostbutton{
  display: none;
  width: 100%;
  font-size: 22px;
}

.room-options{


}


.roomform{
display: flex;
flex-direction: column;
align-items: flex-end;
height: 300px;
padding: 5px;
}
.protip{
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 5px;
  padding: 5px;

}
.protip h3{
  text-align: center;
  padding: 3px;
  margin: 5px;
}
.roomform button{

  width: 100%;
  background-color: #aaa

}
.roomform label{
  padding: 3px;
}

#joinroom{
  padding: 15px;

  background-color: #eee
}

/* EXPERIMENTAL */
.constrain{
  position: relative;

    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;


    padding: 0px;
}
.leaderconstrain{
  position: relative;

    width: 100%;
    min-height: 100%;
    min-width: 320px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;


    padding: 0px;
}
.leaderconstrain h1{
  text-align: center;
}

#joincode, #joinusername, #teamname, #createusername{
  width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding: 20px 12px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;

    box-sizing: border-box;
}
#joincode{
  text-transform: uppercase;
}
.roominput{
  width: 100%;
    height: 38px;
    margin-bottom: 5px;
    padding: 10px 5px 0px 0px;
    background-color: #e0e0e0;
    border: 0px solid;
    border-radius: 12px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 30px;

    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    cursor: pointer;
}

.roominput:hover{
  background-color: #333;
  color: #fff
}

.fieldholder label{
  display: inline-block;
width: 100%;
margin-bottom: 5px;
padding: 0 12px;
color: #333;
font-size: 17px;
}
.fieldholder{
  vertical-align: baseline;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  width: 60%;

}
.constrain h2{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 40px;
}

.errholder{
  height: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#mutebutton{
  background-color: inherit;
  border: none;

}
#usernameholder{
  display: none;
}

::-webkit-input-placeholder {
   text-transform: none;
}

:-moz-placeholder {
   text-transform: none;
}

::-moz-placeholder {
   text-transform: none;
}

:-ms-input-placeholder {
   text-transform: none;
}

#numboy{
width: 30px;
height: 30px;
text-align: center;
color: transparent;
text-shadow: 0 0 0 red;

}
#numboy:focus{
  background-color: #f1f1f1


}
.boardfilter{
  font-size: 18px;
  padding: 2px;

}
.boardfilter:hover{
  cursor:pointer;
}
#myformid{
  font-size: 18px;
  padding: 2px;


}
#myformid button{
  font-size: 18px;
  padding: 2px;
  border: none;
  background-color: inherit;


}
#myformid button:hover{
  text-decoration: underline;
  cursor: pointer;



}
#myformid label {
  margin: 15px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
#seeninput{
  text-align: center;
  width: 30px;
  padding: 5px;
  display: none;
}
.formrow{

  border: 2px double;

  padding: 5px;
  float: left;

  width: 50%



}

.inputwrapper{

}
form{

}
.formrow button {
  border: none;
  background-color: none;
  background:none;
  padding: none;
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.rulelist{
  list-style-type:circle;

}
.rulelist li{
  margin-bottom: 2px;
}
.leaderconstrain h3{
  text-decoration: underline;
  margin-bottom: 3px;
}
